In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
dat1 = pd.read_csv('policy_0702.csv',encoding='UTF-8')
dat2 = pd.read_csv('claim_0702.csv',encoding='UTF-8')
dat3 = pd.read_csv('training-set.csv',encoding='UTF-8')
dat4 = pd.read_csv('testing-set.csv',encoding='UTF-8')

In [6]:
k = dat1['Policy_Number'][dat1["Insured's_ID"]=="2bf9fa1fb1d47da69c13a3eac812ac04201003764"].unique()

In [75]:
k3 = dat1.Vehicle_identifier.value_counts()[dat1.Vehicle_identifier.value_counts()>10]
dat1.Policy_Number[dat1.Vehicle_identifier=='d6889b6bc4c1ebacf94fef34aec655ab35186d80'].unique()
k4 = dat1.Policy_Number[dat1.Vehicle_identifier=='d6889b6bc4c1ebacf94fef34aec655ab35186d80'].unique()

In [74]:
# ad3b3cea3a914fae85b2e7e37671beb137e08ee7
# ad3b3cea3a914fae85b2e7e37671beb137e08ee7
#862a8f5d77f4319577db78ec7a9ccc8eb0138c33
#032003ff7067c142282d2e4d1a30a5cafafdb2fe
#9aeaef4589116048b3584ac9e417da12b6553d9b
#65008d04b94709e30a92ae6fb287d40970e166db
#bb01594bf7eba6d7a70a90adbbd567b126f92444
#a7f4e00f68efead64b3b2e7c6b1bf38ca8025668
#73f6e56de78a465ee639af2295ff0fa7f61fcb2a
#9a1e1fd948eb8cdb74d3fee5e6db5952de70ca18
#f8e3755f93abe77cdfb4fe72b308db4658d3cef9
#4ea2c633014c90c236ff36c7eeb77cd989cfc99b
#2b553911e3586bf253d6839554a5d08df99b546e
#877879d5f86cb68697cef7e41aa9358c35405d48
#7fe9ccbce528c447adb4aa5d0f9083673c777dfb
pd.set_option('display.max_columns', 500)
dat1[dat1.Policy_Number=='7fe9ccbce528c447adb4aa5d0f9083673c777dfb']

                                 Policy_Number                               Insured's_ID                       Prior_Policy_Number Cancellation                        Vehicle_identifier                   Vehicle_Make_and_Model1                   Vehicle_Make_and_Model2  Manafactured_Year_and_Month  Engine_Displacement_(Cubic_Centimeter)  Imported_or_Domestic_Car         Coding_of_Vehicle_Branding_&_Type  qpt fpt Main_Insurance_Coverage_Group Insurance_Coverage  Insured_Amount1  Insured_Amount2  Insured_Amount3  Coverage_Deductible_if_applied  Premium  Replacement_cost_of_insured_vehicle                      Distribution_Channel  Multiple_Products_with_TmNewa_(Yes_or_No?)  lia_class  plia_acc  pdmg_acc  fassured   ibirth fsex fmarriage                              aassured_zip                                 iply_area   dbirth  fequipment1  fequipment2  fequipment3  fequipment4  fequipment5  fequipment6  fequipment9 nequipment9
5400  7fe9ccbce528c447adb4aa5d0f9083673c777dfb  L625d2c5ef017498a6f82a42b49249e8cd3655b70  d29a657006a09f012927120d8daa7255375ec514               cb6d941364d0a06feb42098ff87c8b53bb2c5e4a  fb3395443f16f8fceafce0e61f828a569298c35d  4c53506aacea2f1b6df37214b1db8c1b66fe731b                         2005                                    2261                        10  f75dc3a97ef059a08cbb1740501c6c51acc680ac  5.0   P                            竊盜                05N                0                0            76000                              10      152                                 71.5  5037717f120cf25bbeea6a42e62676bc5c911b12                                         0.0          0     -0.35       0.0         1  02/1964    1         1  0ec09ef9836da03f1add21e3ef607627e687e790  c1dfd96eea8cc2b62785275bca38ac261256e278  12/1969            0            0            0            0            0            0            0
5401  7fe9ccbce528c447adb4aa5d0f9083673c777dfb  L625d2c5ef017498a6f82a42b49249e8cd3655b70  d29a657006a09f012927120d8daa7255375ec514               cb6d941364d0a06feb42098ff87c8b53bb2c5e4a  fb3395443f16f8fceafce0e61f828a569298c35d  4c53506aacea2f1b6df37214b1db8c1b66fe731b                         2005                                    2261                        10  f75dc3a97ef059a08cbb1740501c6c51acc680ac  5.0   P                            車責                16G          2000000                0         24000000                               0     1125                                 71.5  5037717f120cf25bbeea6a42e62676bc5c911b12                                         0.0          0     -0.35       0.0         1  02/1964    1         1  0ec09ef9836da03f1add21e3ef607627e687e790  c1dfd96eea8cc2b62785275bca38ac261256e278  12/1969            0            0            0            0            0            0            0
5402  7fe9ccbce528c447adb4aa5d0f9083673c777dfb  L625d2c5ef017498a6f82a42b49249e8cd3655b70  d29a657006a09f012927120d8daa7255375ec514               cb6d941364d0a06feb42098ff87c8b53bb2c5e4a  fb3395443f16f8fceafce0e61f828a569298c35d  4c53506aacea2f1b6df37214b1db8c1b66fe731b                         2005                                    2261                        10  f75dc3a97ef059a08cbb1740501c6c51acc680ac  5.0   P                            車責                16P                0                0           500000                               0     1020                                 71.5  5037717f120cf25bbeea6a42e62676bc5c911b12                                         0.0          0     -0.35       0.0         1  02/1964    1         1  0ec09ef9836da03f1add21e3ef607627e687e790  c1dfd96eea8cc2b62785275bca38ac261256e278  12/1969            0            0            0            0            0            0            0
5403  7fe9ccbce528c447adb4aa5d0f9083673c777dfb  L625d2c5ef017498a6f82a42b49249e8cd3655b70  d29a657006a09f012927120d8daa7255375ec514               cb6d941364d0a06feb42098ff87c8b53bb2c5e4a  fb3395443f16f8fceafce0e61f828a569298c35d  4c53506aacea2f1b6df37214b1db8c1b66fe731b                         2005                                    2261                        10  f75dc3a97ef059a08cbb1740501c6c51acc680ac  5.0   P                            車責                29K                0                0          1000000                               0      159                                 71.5  5037717f120cf25bbeea6a42e62676bc5c911b12                                         0.0          0     -0.35       0.0         1  02/1964    1         1  0ec09ef9836da03f1add21e3ef607627e687e790  c1dfd96eea8cc2b62785275bca38ac261256e278  12/1969            0            0            0            0            0            0            0

In [61]:
for i in range(0,20):
    print(dat3.Next_Premium[dat3.Policy_Number==k4[i]]  )
    
pd.concat([],)

124852    3180
Name: Next_Premium, dtype: int64
124858    3164
Name: Next_Premium, dtype: int64
124861    3160
Name: Next_Premium, dtype: int64
124865    3158
Name: Next_Premium, dtype: int64
124867    1358
Name: Next_Premium, dtype: int64

IndexError: index 5 is out of bounds for axis 0 with size 5

# 資料處理

In [3]:
dat1['Cancellation'] = dat1['Cancellation'].apply({'Y':1, ' ':0}.get)
dat1['Main_Insurance_Coverage_Group'] = dat1['Main_Insurance_Coverage_Group'].apply({'車責':0, '竊盜':1, '車損':2}.get)
dat1['ibirth'] = dat1['ibirth'].str[3:7].astype('float') + (dat1['ibirth'].str[0:2].astype('float')-1)/12
dat1['ibirth'] = dat1['ibirth'].fillna(dat1['ibirth'].mean())
dat1['dbirth'] = dat1['dbirth'].str[3:7].astype('float') + (dat1['dbirth'].str[0:2].astype('float')-1)/12
dat1['dbirth'] = dat1['dbirth'].fillna(dat1['dbirth'].mean())
dat1['nequipment9'] = dat1['nequipment9'].apply({    '                                                                                                    ':1,
    ' ':1,    '原裝車含配備':2,'5合1影音':3,'大包':4,
    '伸尾                                                                                                ':5}.get)
dat1.fsex = dat1.fsex.apply({'1':1,'2':2,' ':0}.get).fillna(0)
dat1.fmarriage = dat1.fmarriage.apply({'1':1,'2':2,' ':0}.get).fillna(0)

# 單一保單個數
dat1['Policy_counts'] = dat1['Policy_Number'].map(dat1['Policy_Number'].value_counts())

In [4]:
dat1['Main_Insurance_Coverage_Group'] = dat1['Main_Insurance_Coverage_Group'].astype('category')
dat1['Insurance_Coverage'] = dat1['Insurance_Coverage'].astype('category')
dat1['Cancellation'] = dat1['Cancellation'].astype('category')

# dat1[13:19] 要特殊處理

In [5]:
a1 = dat1.groupby(by ='Policy_Number',axis=0,sort=False).Main_Insurance_Coverage_Group.\
value_counts().reset_index(name='Main_Insurance_count')
a1 = a1.pivot_table(index='Policy_Number', columns='Main_Insurance_Coverage_Group', \
                    values='Main_Insurance_count',fill_value=0)
a2 = dat1.pivot_table(index=['Policy_Number'],columns='Main_Insurance_Coverage_Group',values=['Insured_Amount1', 
               'Insured_Amount2', 'Insured_Amount3','Coverage_Deductible_if_applied'],fill_value=0)
a3 = dat1.groupby(by ='Policy_Number',axis=0,sort=False).Insurance_Coverage.value_counts().reset_index(name='Insurance_Coverage_count')
a3 = a3.pivot_table(index='Policy_Number', columns='Insurance_Coverage', values='Insurance_Coverage_count',fill_value=0)

In [6]:
# 補缺失值
dat1.Vehicle_identifier = dat1.Vehicle_identifier.fillna(dat1.Policy_Number)
dat1.Prior_Policy_Number = dat1.Prior_Policy_Number.fillna('0')

In [7]:
dat1.count()[dat1.count()<1747942]

Series([], dtype: int64)

In [8]:
# 將 Insured's_ID 轉數字
dat1["Insured's_ID"] = pd.Categorical(dat1["Insured's_ID"])
dat1["Insured's_ID"] = dat1["Insured's_ID"].cat.codes

In [9]:
dat1.Vehicle_identifier = pd.Categorical(dat1.Vehicle_identifier)
dat1.Vehicle_identifier = dat1.Vehicle_identifier.cat.codes
dat1.Vehicle_Make_and_Model1 = pd.Categorical(dat1.Vehicle_Make_and_Model1)
dat1.Vehicle_Make_and_Model1 = dat1.Vehicle_Make_and_Model1.cat.codes
dat1.Vehicle_Make_and_Model2 = pd.Categorical(dat1.Vehicle_Make_and_Model2)
dat1.Vehicle_Make_and_Model2 = dat1.Vehicle_Make_and_Model2.cat.codes
dat1.Distribution_Channel = pd.Categorical(dat1.Distribution_Channel)
dat1.Distribution_Channel = dat1.Distribution_Channel.cat.codes
dat1.aassured_zip = pd.Categorical(dat1.aassured_zip)
dat1.aassured_zip = dat1.aassured_zip.cat.codes
dat1.iply_area = pd.Categorical(dat1.iply_area)
dat1.iply_area = dat1.iply_area.cat.codes
dat1.Prior_Policy_Number = pd.Categorical(dat1.Prior_Policy_Number)
dat1.Prior_Policy_Number = dat1.Prior_Policy_Number.cat.codes
dat1["Coding_of_Vehicle_Branding_&_Type"] = pd.Categorical(dat1["Coding_of_Vehicle_Branding_&_Type"])
dat1["Coding_of_Vehicle_Branding_&_Type"] = dat1["Coding_of_Vehicle_Branding_&_Type"].cat.codes
dat1.ibirth = dat1.ibirth.astype('float')
dat1.dbirth = dat1.dbirth.astype('float')
del dat1['fpt']

In [10]:
dat1.dtypes[dat1.dtypes=='object']

Policy_Number    object
dtype: object

In [11]:
dat = dat1[list(dat1.columns[0:12]) +list(dat1.columns[20:43]) ].drop_duplicates().reset_index(drop=True)
dat['Premium'] = dat1.groupby('Policy_Number',sort=False)['Premium'].sum().values
dat = pd.merge(dat, a1, on=['Policy_Number'], how='left')
dat = pd.merge(dat, a2, on=['Policy_Number'], how='left')
dat = pd.merge(dat, a3, on=['Policy_Number'], how='left')

D:\PY\lib\site-packages\pandas\core\reshape\merge.py:543: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [12]:
dat.isnull().sum()[dat.isnull().sum()>0]

Series([], dtype: int64)

In [13]:
dat1.iloc[1458772:1458775,0:22]

,Policy_Number,Insured's_ID,Prior_Policy_Number,Cancellation,Vehicle_identifier,Vehicle_Make_and_Model1,Vehicle_Make_and_Model2,Manafactured_Year_and_Month,Engine_Displacement_(Cubic_Centimeter),Imported_or_Domestic_Car,...,Main_Insurance_Coverage_Group,Insurance_Coverage,Insured_Amount1,Insured_Amount2,Insured_Amount3,Coverage_Deductible_if_applied,Premium,Replacement_cost_of_insured_vehicle,Distribution_Channel,Multiple_Products_with_TmNewa_(Yes_or_No?)
1458772,d0b393ac98a0fc199438bdccbb76a0183708ad87,72889,245431,0,127420,132,2646,1999,1498,10,...,0,16G,500000,0,1000000,0,1098,46.9,194,0.0
1458773,d0b393ac98a0fc199438bdccbb76a0183708ad87,72889,245431,0,127420,132,2646,1999,1498,10,...,0,16P,0,0,100000,0,1209,46.9,194,0.0
1458774,d0b393ac98a0fc199438bdccbb76a0183708ad87,72889,245431,0,127420,132,2646,1999,1498,10,...,2,20B,10000,0,50000,0,235,46.9,194,0.0

# 處理dat2資料

In [14]:
a4 = dat2[['Policy_Number','Claim_Number']].drop_duplicates().reset_index(drop=True)
a4['acc_count'] = 1
dat2['acc_count'] = dat2['Policy_Number'].map(a4.groupby('Policy_Number',sort=False)['acc_count'].sum())

dat2['DOB_of_Driver'] = dat2['DOB_of_Driver'].str[3:7].astype('float') + (dat2['DOB_of_Driver'].str[0:2].astype('float')-1)/12
dat2['DOB_of_Driver'] = dat2['DOB_of_Driver'].fillna(dat2['DOB_of_Driver'].mean())

dat2['Accident_Time'] = dat2['Accident_Time'].str[0:2].astype('float')*60 + dat2['Accident_Time'].str[3:5].astype('float')
dat2["At_Fault?"] = dat2["At_Fault?"].fillna(dat2["At_Fault?"].mean()  )
dat2['Vehicle_identifier'] = dat2['Vehicle_identifier'].fillna(dat2['Policy_Number']  )
dat2.Accident_Date = (dat2.Accident_Date.str[0:4].astype('float'))+( dat2.Accident_Date.str[5:7].astype('float')-1)/12

In [15]:
dat2["Cause_of_Loss"] = pd.Categorical(dat2["Cause_of_Loss"])
dat2["Cause_of_Loss"] = dat2["Cause_of_Loss"].cat.codes

dat2["Vehicle_identifier"] = pd.Categorical(dat2["Vehicle_identifier"])
dat2["Vehicle_identifier"] = dat2["Vehicle_identifier"].cat.codes

dat2["Accident_area"] = pd.Categorical(dat2["Accident_area"])
dat2["Accident_area"] = dat2["Accident_area"].cat.codes

In [16]:
dat2.isnull().sum()[dat2.isnull().sum()>0]

Series([], dtype: int64)

In [17]:
a5 = dat2.groupby(by ='Policy_Number',axis=0,sort=False).Coverage.value_counts().reset_index(name='Coverage_count')
a5 = a5.pivot_table(index='Policy_Number', columns='Coverage', values='Coverage_count',fill_value=0)
dat = pd.merge(dat, a5, on=['Policy_Number'], how='left',sort=False).fillna(0)

In [18]:
#dat2.columns
dat2['Nature_of_the_claim'] = dat2['Nature_of_the_claim'].astype('category')
dat2["Driver's_Gender"] = dat2["Driver's_Gender"].astype('category')
dat2["Driver's_Relationship_with_Insured"] = dat2["Driver's_Relationship_with_Insured"].astype('category')
dat2['Marital_Status_of_Driver'] = dat2['Marital_Status_of_Driver'].astype('category')
dat2['Claim_Status_(close,_open,_reopen_etc)'] = dat2['Claim_Status_(close,_open,_reopen_etc)'].astype('category')
dat2['Accident_area'] = dat2['Accident_area'].astype('category')
del dat2['Vehicle_identifier']

In [19]:
dat2.dtypes

Claim_Number                                object
Nature_of_the_claim                       category
Policy_Number                               object
Driver's_Gender                           category
Driver's_Relationship_with_Insured        category
DOB_of_Driver                              float64
Marital_Status_of_Driver                  category
Accident_Date                              float64
Cause_of_Loss                                 int8
Paid_Loss_Amount                             int64
paid_Expenses_Amount                         int64
Salvage_or_Subrogation?                      int64
Coverage                                    object
At_Fault?                                  float64
Claim_Status_(close,_open,_reopen_etc)    category
Deductible                                   int64
Accident_area                             category
number_of_claimants                        float64
Accident_Time                              float64
acc_count                                    int64
dtype: object

In [20]:
df2 = dat2[['Policy_Number','Claim_Number',"Driver's_Gender",'DOB_of_Driver','Marital_Status_of_Driver',\
     'Accident_Date','Cause_of_Loss','Accident_area','number_of_claimants',\
            'Accident_Time',"At_Fault?"]].drop_duplicates().reset_index(drop=True)

In [21]:
# Nature_of_the_claim
a6 = dat2.groupby('Policy_Number',sort=False)['Nature_of_the_claim'].value_counts().reset_index(name='Nature_of_the_claim_count')
a6 = a6.pivot_table(index='Policy_Number', columns='Nature_of_the_claim',values='Nature_of_the_claim_count',fill_value=0)

# Marital_Status_of_Driver
a7 = df2.groupby('Policy_Number',sort=False)['Marital_Status_of_Driver'].value_counts().reset_index(name='Marital_Status_of_Driver_count')
a7 = a7.pivot_table(index='Policy_Number', columns='Marital_Status_of_Driver',values='Marital_Status_of_Driver_count',fill_value=0)

# Driver's_Gender
a8 = df2.groupby('Policy_Number',sort=False)["Driver's_Gender"].value_counts().reset_index(name="Driver's_Gender_count")
a8 = a8.pivot_table(index='Policy_Number', columns="Driver's_Gender",values="Driver's_Gender_count",fill_value='0')

# Driver's_Relationship_with_Insured
a9 = dat2.groupby('Policy_Number',sort=False)["Driver's_Relationship_with_Insured"].value_counts().reset_index(name="Driver's_Relationship_with_Insured_count")
a9 = a9.pivot_table(index='Policy_Number', columns="Driver's_Relationship_with_Insured",values="Driver's_Relationship_with_Insured_count",fill_value='0')

# DOB_of_Driver
a10 = df2.groupby('Policy_Number',sort=False)["DOB_of_Driver"].mean().reset_index(name='DOB_of_Driver(mean)')

# Accident_Date
a11 = df2.groupby('Policy_Number',sort=False)["Accident_Date"].mean().reset_index(name='Accident_Date(mean)')

#Cause_of_Loss
a12 = df2.groupby('Policy_Number',sort=False)["Cause_of_Loss"].value_counts().reset_index(name="Cause_of_Loss_count")
a12 = a12.pivot_table(index='Policy_Number', columns="Cause_of_Loss",values="Cause_of_Loss_count",fill_value='0')

# Accident_area
a13 = df2.groupby('Policy_Number',sort=False)["Accident_area"].value_counts().reset_index(name="Accident_area_count")
a13 = a13.pivot_table(index='Policy_Number', columns="Accident_area",values="Accident_area_count",fill_value='0')

# number_of_claimants
a14 = df2.groupby('Policy_Number',sort=False)["number_of_claimants"].sum().reset_index(name="number_of_claimants(sum)")
a15 = df2.groupby('Policy_Number',sort=False)["number_of_claimants"].mean().reset_index(name="number_of_claimants(mean)")

# Accident_Time
a16 = df2.groupby('Policy_Number',sort=False)["Accident_Time"].sum().reset_index(name="Accident_Time(sum)")
a17 = df2.groupby('Policy_Number',sort=False)["Accident_Time"].mean().reset_index(name="Accident_Time(mean)")

# Paid_Loss_Amount
a18 = dat2.groupby('Policy_Number',sort=False)["Paid_Loss_Amount"].sum().reset_index(name="Paid_Loss_Amount(sum)")

# paid_Expenses_Amount
a19 = dat2.groupby('Policy_Number',sort=False)["paid_Expenses_Amount"].sum().reset_index(name="paid_Expenses_Amount(sum)")

# Salvage_or_Subrogation?
a20 = dat2.groupby('Policy_Number',sort=False)["Salvage_or_Subrogation?"].sum().reset_index(name="Salvage_or_Subrogation?(sum)")

# At_Fault
a21 = df2.groupby('Policy_Number',sort=False)["At_Fault?"].sum().reset_index(name="At_Fault?(sum)") 

# Claim_Status_(close,_open,_reopen_etc)
a22 = dat2.groupby('Policy_Number',sort=False)['Claim_Status_(close,_open,_reopen_etc)'].value_counts().reset_index(name='Claim_Status_count')
a22 = a22.pivot_table(index='Policy_Number', columns='Claim_Status_(close,_open,_reopen_etc)', values='Claim_Status_count',fill_value = 0)

# Deductible
a23 = dat2.groupby('Policy_Number',sort=False)["Deductible"].sum().reset_index(name="Deductible(sum)")

In [22]:
a8 = a8.astype('float')
a9 = a9.astype('float')
a12 = a12.astype('float')
a13 = a13.astype('float')
a6.columns = ['Nature_of_the_claim_1','Nature_of_the_claim_2' ]
a7.columns = ['Marital_Status_of_Driver_1','Marital_Status_of_Driver_2' ]
a8.columns = ["Drivers_Gender_1","Drivers_Gender_2" ]
a9.columns = ["Drivers_Relationship_with_Insured_1","Drivers_Relationship_with_Insured_2","Drivers_Relationship_with_Insured_3",
             "Drivers_Relationship_with_Insured_4","Drivers_Relationship_with_Insured_5","Drivers_Relationship_with_Insured_6",
             "Drivers_Relationship_with_Insured_7"]
a12.columns = ['Cause_of_Loss_0','Cause_of_Loss_1','Cause_of_Loss_2','Cause_of_Loss_3','Cause_of_Loss_4','Cause_of_Loss_5',
              'Cause_of_Loss_6','Cause_of_Loss_7','Cause_of_Loss_8','Cause_of_Loss_9','Cause_of_Loss_10','Cause_of_Loss_11',
               'Cause_of_Loss_12','Cause_of_Loss_13','Cause_of_Loss_14','Cause_of_Loss_15','Cause_of_Loss_16']
a13.columns = ['Accident_area_0','Accident_area_1','Accident_area_2','Accident_area_3','Accident_area_4','Accident_area_5',
               'Accident_area_6','Accident_area_7','Accident_area_8','Accident_area_9','Accident_area_10','Accident_area_11',
               'Accident_area_12','Accident_area_13','Accident_area_14','Accident_area_15','Accident_area_16',
               'Accident_area_17','Accident_area_18','Accident_area_19','Accident_area_20','Accident_area_21']
a22.columns = ["Claim_Status__0","Claim_Status__1"]

In [23]:
# 合併資料

dat = pd.merge(dat, a6, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a7, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a8, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a9, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a10, on=['Policy_Number'], how='left',sort=False).fillna(0)

In [24]:
dat = pd.merge(dat, a11, on=['Policy_Number'], how='left',sort=False)
dat['ACC_Y_or_N'] = dat['Accident_Date(mean)'].isna()
dat['Accident_Date(mean)'] = dat['Accident_Date(mean)'].fillna(2017)

dat = pd.merge(dat, a12, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a13, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a14, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a15, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a16, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a17, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a18, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a19, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a20, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a21, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a22, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat, a23, on=['Policy_Number'], how='left',sort=False).fillna(0)
dat = pd.merge(dat,dat3, on=['Policy_Number'], how='left',sort=False)

In [25]:
dat['iage'] = dat['Accident_Date(mean)'] - dat['ibirth']
dat['dage'] = dat['Accident_Date(mean)'] - dat['dbirth']

In [26]:
dat.shape

(351273, 226)

In [27]:
dat = dat.rename(columns={ ('Coverage_Deductible_if_applied', 0):'Coverage_Deductible_if_applied_0',
                     ('Coverage_Deductible_if_applied', 1):'Coverage_Deductible_if_applied_1',
                     ('Coverage_Deductible_if_applied', 2):'Coverage_Deductible_if_applied_2',
                     ('Insured_Amount1', 0):'Insured_Amount1_0',('Insured_Amount1', 1):'Insured_Amount1_1',
                     ('Insured_Amount1', 2):'Insured_Amount1_2',('Insured_Amount2', 0):'Insured_Amount2_0',
                     ('Insured_Amount2', 1):'Insured_Amount2_1', ('Insured_Amount2', 2):'Insured_Amount2_2',
                     ('Insured_Amount3', 0):'Insured_Amount3_0',
                     ('Insured_Amount3', 1):'Insured_Amount3_1', ('Insured_Amount3', 2):'Insured_Amount3_2'  })

dat.Cancellation = dat.Cancellation.astype('int')

In [28]:
# 退保 保費為0
xxx = list( (dat1.Policy_Number[dat1['Coverage_Deductible_if_applied']<0]).unique() )
# 檢查輸出
xxx_test = list(set(dat.Policy_Number) & set(xxx))
b1 = []
for i in range(0, len(xxx_test) ):
    b1.append( list(dat.Policy_Number).index(xxx_test[ i ])   )

In [89]:
#dat[['Imported_or_Domestic_Car','Engine_Displacement_(Cubic_Centimeter)'] ][dat['Engine_Displacement_(Cubic_Centimeter)']<400]
kk = (dat1[['Insurance_Coverage','Coverage_Deductible_if_applied']][dat1.Coverage_Deductible_if_applied>0]).\
drop_duplicates().reset_index(drop=True)

kk1= pd.DataFrame()
kk1['Coverage_Deductible_if_applied'] = kk['Coverage_Deductible_if_applied'] 
kk1.index = kk['Insurance_Coverage']
kk1

                    Coverage_Deductible_if_applied
Insurance_Coverage
05N                                             10
00I                                              1
51O                                              1
15F                                            100
15O                                            255
05N                                             20
15O                                          22455
00I                                          10000
14N                                             10
15O                                              2
15O                                            155
15O                                              1
15O                                          12455
02K                                              2
02K                                          15000
51O                                              2
02K                                          30000
02K                                              1
15F                                             70
15O                                            124
02K                                          10000
15F                                             40
15F                                             50
02K                                          20000
04M                                          30000
02K                                          50000
33O                                             24
04M                                          50000
32N                                             48
14N                                             20
...                                            ...
00I                                          30000
00I                                              2
02K                                         100000
33F                                             24
00I                                           8000
33F                                             48
00I                                          20000
56K                                             48
68E                                             10
14E                                            100
00I                                              3
65K                                            100
16G                                           5000
16P                                           5000
37J                                          10000
00I                                          15000
29K                                              1
37J                                          30000
10A                                            100
14E                                             10
14E                                            155
29K                                             10
14E                                              1
14E                                            124
14E                                             20
04M                                           8000
16G                                          10000
16P                                          10000
56K                                             24
65K                                             50

[71 rows x 1 columns]

# Modeling

In [30]:
train = dat[dat['Next_Premium'].isna()==False]
test = dat[dat['Next_Premium'].isna()==True]
y = train['Next_Premium']
features = [f for f in train.columns if f not in ['Next_Premium','Policy_Number']]

In [101]:
fff = train[['Policy_Number','Coverage_Deductible_if_applied_0','Coverage_Deductible_if_applied_1',
       'Coverage_Deductible_if_applied_2','Next_Premium']][(train.Coverage_Deductible_if_applied_0<0) |\
     (train.Coverage_Deductible_if_applied_1<0) | (train.Coverage_Deductible_if_applied_2<0) ]
fff[fff.Next_Premium>0]

,Policy_Number,Coverage_Deductible_if_applied_0,Coverage_Deductible_if_applied_1,Coverage_Deductible_if_applied_2,Next_Premium
3964,af6427f0a9f4df8c8793428be1b9d55e109337e1,0.000000,-10.000000,0.000000,3562.0
5304,79fa4e49de3b8cb96c4884762428125c0557a0ef,0.000000,5.000000,-0.250000,15381.0
7624,a8de62392a829d38769753865010d1d0583fb00c,-31.000000,3.333333,0.000000,5662.0
13637,62690d0486b4f18782dda33898e3bdb72904f8f0,0.000000,3.333333,-0.500000,13862.0
13832,df5d70d3620ebb065a36047a22d5a40cea010a0d,0.000000,3.333333,-0.500000,8457.0
19069,625f365a147be12b265556a0cf7506ca381d2936,0.000000,-5.000000,0.000000,21283.0
19973,41d0c408c91b724067a9cd5a55c0bcdf876a0bed,0.000000,0.000000,-0.333333,2384.0
23629,f6f854f1376d3959e53dbe3096ba8c9378b8f47c,-20.000000,5.000000,0.000000,11276.0
23973,903204133181cb09766b07bd718233a3ea8a4ffb,-17.714286,-10.000000,0.000000,4485.0
25472,6e583adfd63f88e1b27faa994527e4fbe79fee02,0.000000,10.000000,-0.333333,7185.0
26666,32598fb7edcdf0c73986c1f2657c19707bc70c5a,0.000000,0.000000,-0.500000,8579.0
33131,30aa1dc9b075929f2e608451b677bb6a20c33788,14.285714,5.000000,-2.000000,63892.0
37971,f1a80155e480ed960b59f74ee4d3252911b4facd,16.666667,10.000000,-0.333333,19735.0
37978,3fc6e9d0962d3750684dd113ad34234f62f71773,-11.666667,-3.333333,0.000000,19409.0
39278,471ca0b6d6c1f93603bdc4432fa0862b62c3c91c,0.000000,-10.000000,5000.000000,10614.0
56125,a10baf38ce767971f28c41cb4aa273451da49e53,0.000000,-10.000000,0.000000,6459.0
57038,b90939e3468a830b3db024277eb95dd8f1e0d337,-25.833333,0.000000,0.000000,4652.0
58976,60ebc92dc5b9639d6372a19f95ea5a7a81167c54,-20.000000,10.000000,0.500000,7767.0
60494,7357e40ddfcffd95f48057f2918298b1dab9b7c2,0.000000,-3.333333,0.000000,6210.0
60584,5c70fb62d8f3d3694ae9a5d8bf33461bfb1431d2,0.000000,-3.333333,0.000000,8123.0
65058,14b3225f00b6b11df787ca50e58fcddbda0d8b67,0.000000,-5.000000,0.000000,13391.0
65066,796828acaacc6dc26ef025e54dddd6ef7c17e5b6,-16.666667,-5.000000,0.000000,7236.0
65372,5943606b468115972ec6851a0025509b274a304b,0.000000,-5.000000,0.000000,26324.0
65676,6dfcebcc9a7b52cf1cc705ee11396b42a5f3d328,0.000000,-10.000000,0.000000,3615.0
71454,83b4b01ced064402a5c0bb61de7c978251891565,0.000000,-3.333333,0.000000,13927.0
73329,27a87e405ee6aae893a0465ed82d26da63a4e585,-20.000000,0.000000,0.000000,6392.0
81115,c2720eee8fa9dfe85333155d23e02e7ac47a9e9b,0.000000,-10.000000,0.000000,17715.0
82714,5e69c017281db151ff96ff31cb4aae9961624814,20.000000,10.000000,-0.333333,12770.0
83275,91dc4a3548ee7e87a3d70e4c5f5bf80857d1eda2,0.000000,-10.000000,0.000000,10083.0
87936,ccd33b74e4ed9fca683176c6220d98be6e3304c3,-33.333333,-20.000000,0.000000,3798.0
...,...,...,...,...,...
133057,4d11231e7fe6b85675d4fad7f3fd3b83c1b0c7f2,0.000000,-10.000000,0.000000,3780.0
133255,97ca1617f051ba88a8782881229b2cd703235ebe,22.142857,-10.000000,0.000000,14772.0
140289,db5b15cf3f703779505ad1d0ab0828665f7e4ff2,0.000000,-10.000000,0.000000,4727.0
155981,7ef5bf8b83530f4bbb9243112c92cf5370ff8aab,0.000000,-10.000000,0.000000,7626.0
156791,a8274c0b66db6dfa573ccdb0b1c0f82d692e2b35,0.000000,-10.000000,0.000000,7356.0
157596,1e9a2149834789ddbee2fb70ded73d64f891c5d8,0.000000,-5.000000,0.000000,2739.0
180636,996d201df6dd47c943c75fdbde470e8075292ee5,0.000000,-5.000000,0.000000,4120.0
184556,38892d1bb1ad818aedfe438eb6e0480315b33a16,0.000000,-5.000000,0.000000,24407.0
191189,8ff5428c24f2f6af5f7d56419edd4ad8cdaf8ddf,0.000000,-5.000000,0.000000,5192.0
191683,7eaca839c524bd8f56ed2fac74404e120729a43c,0.000000,-5.000000,0.000000,2241.0
191884,9d0f3477d54a2b3db77a8c081fcfde47a76695ad,-12.500000,10.000000,0.000000,6403.0
192533,3cbc0c04442b155d249c13eeb66977b29526642a,-33.333333,0.000000,0.000000,2235.0
192885,a8e8c1776dd0cc4dcbaeba3144e8150243251b91,20.000000,-10.000000,0.000000,7847.0
194107,e2cab541bf7b06936b0c592c96cc0844fd6445aa,0.000000,-10.000000,0.000000,2495.0
196238,872b1082a54e052481d9a0b369237794b8f6ed34,0.000000,-5.000000,0.000000,4779.0
196473,63f5c8ad593fa26141f93725401c797e300588fd,25.000000,-5.000000,0.000000,14908.0
201944,8316036d4bb5413f976351464b0ce3944dec428b,0.000000,-10.000000,0.333333,7253.0
202776,0091873233d64b1cbef8d0d7be9084bf3cb98bc1,-20.000000,0.000000,0.000000,2216.0
205233,43896a60ecb6f64e414ba93db535dd5ef53ef694,20.000000,10.000000,-0.500000,4846.0
206797,ea78ad15fa389b9b8015cea398717b6df886dfe7,0.000000,0.000000,-0.500000,2894.0
211614,5a9b0da5c15fb5f1928bc2316a2376926f5b1d0c,-25.000000,0.000000,0.000000,3871.0
215684,e253442924ee6ba24a5644d081450881e9955e71,17.714286,-3.333333,0.000000,6551.0
216690,1c5421684171e0d3547b27f65b1e9165d4dd741b,20.000000,-10.000000,0.000000,4998.0
217956,948d894e8e9ef752dd9ebeb0b9f9d1f518947b11,0.000000,0.000000,-0.333333,1432.0
219264,7287aeb899808349b5b6d3fd1c26a7551c4e49b2,-6.875000,10.000000,0.000000,6003.0
220471,3dd1d323f36749692bb6aca8b77ee81c60c91858,0.000000,-10.000000,0.000000,12715.0
221259,e9eba1857babf6a5056b28c4fb1416adb2b2f032,-20.000000,5.000000,0.000000,9360.0
223574,fec2b353bce68ac2f656c8f19787d4a42d903114,0.000000,-10.000000,-0.333333,21626.0
231439,ab0694f97b2d12001d7417a5b7703afe71c37381,0.000000,0.000000,-1.000000,1616.0
250368,a0d7b04bd36de68401fe9dfb7a011b8d6958abee,14.285714,-10.000000,0.000000,6990.0

In [113]:
dat1.iloc[:,14:19][dat1.Policy_Number=='f1a80155e480ed960b59f74ee4d3252911b4facd']

,Insured_Amount1,Insured_Amount2,Insured_Amount3,Coverage_Deductible_if_applied,Premium
190530,0,0,0,-1,8530
190531,0,0,400000,0,1606
190532,0,0,384000,0,10970
190533,0,0,400000,10,1084
190534,1500000,1500000,18300000,0,86
190535,0,0,5000000,100,959
190536,1500000,0,18000000,0,913
190537,0,0,300000,0,801
190538,0,6000000,24000000,0,1027
190539,0,0,6000000,0,957

In [144]:
(dat1[(dat1.Insurance_Coverage=="02K") & (dat1.Coverage_Deductible_if_applied==8000)]).iloc[0:20,14:19]
#dat1.iloc[88:94,[0,2,3,4,17,18] ]

,Insured_Amount1,Insured_Amount2,Insured_Amount3,Coverage_Deductible_if_applied,Premium
47176,0,0,1019000,8000,13901
50816,0,0,364000,8000,4839
51120,0,0,768000,8000,12437
56411,0,0,556000,8000,8134
165652,0,0,1875000,8000,10568
177563,0,0,304000,8000,11087
220238,0,0,481000,8000,7177
281180,0,0,270000,8000,10975
282765,0,0,147000,8000,4306
326755,0,0,413000,8000,11244
337013,0,0,808000,8000,13413
344836,0,0,1400000,8000,13031
355152,0,0,1571000,8000,27366
356737,0,0,1044000,8000,10048
366116,0,0,1120000,8000,23728
380641,0,0,599000,8000,9091
425396,0,0,1024000,8000,37926
474416,0,0,495000,8000,6523
478801,0,0,685000,8000,13170
478808,0,0,508000,8000,10807

In [132]:
#dat3[dat3.Policy_Number=='fc890a5ecf3174b5322b2819cd125960d53ebc46']
dat3.Next_Premium[dat3.Next_Premium==0]

8         0
21        0
30        0
33        0
38        0
45        0
46        0
49        0
53        0
54        0
57        0
58        0
65        0
73        0
81        0
88        0
93        0
99        0
104       0
105       0
111       0
112       0
118       0
127       0
130       0
136       0
137       0
147       0
150       0
151       0
         ..
210674    0
210675    0
210676    0
210677    0
210678    0
210683    0
210689    0
210693    0
210694    0
210696    0
210698    0
210701    0
210704    0
210706    0
210707    0
210711    0
210717    0
210719    0
210721    0
210727    0
210732    0
210737    0
210738    0
210739    0
210741    0
210747    0
210748    0
210751    0
210752    0
210758    0
Name: Next_Premium, Length: 46210, dtype: int64

In [31]:
test[test['Engine_Displacement_(Cubic_Centimeter)']<100]

,Policy_Number,Insured's_ID,Prior_Policy_Number,Cancellation,Vehicle_identifier,Vehicle_Make_and_Model1,Vehicle_Make_and_Model2,Manafactured_Year_and_Month,Engine_Displacement_(Cubic_Centimeter),Imported_or_Domestic_Car,...,Paid_Loss_Amount(sum),paid_Expenses_Amount(sum),Salvage_or_Subrogation?(sum),At_Fault?(sum),Claim_Status__0,Claim_Status__1,Deductible(sum),Next_Premium,iage,dage
206682,1c893c0ec20bb59ee587b7afcaf402694ad0fdad,196,185075,0,115105,59,910,2010,9,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,48.787655,48.453079
206683,e30b667923fced1ea5815f4e871b35ba080088bc,196,36917,0,147347,59,910,2010,9,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,48.787655,48.453079

In [32]:
data = train[features]
pred = test[features]

In [33]:
# Split train and validation set
train_x, valid_x, train_y, valid_y = train_test_split(data, y, test_size=0.2, shuffle=True)

In [34]:
#from sklearn import preprocessing 

# test index   [dat['Next_Premium'].isna()==True]
# train index   [dat['Next_Premium'].isna()==False]

#preprocessing.scale(dat[features])

In [35]:
#xgb.fit(X=train_x,y=train_y,learning_rate=0.08, gamma=0,subsample=0.75,colsample_bytree=1, max_depth=7)

#my_model1 = XGBRegressor(max_depth=7, learning_rate=0.08, n_estimators=300, silent=True, objective='reg:linear',
#             booster='gbtree', n_jobs=1, nthread=None, gamma=0, min_child_weight=1, max_delta_step=0, 
#             subsample=0.75, colsample_bytree=1,seed=42)
#my_model.fit(train_x, train_y)
#
#for i in []:
#    train_error = mean_absolute_error(my_model.predict(train_x), train_y)
#    test_error  = mean_absolute_error(my_model.predict(valid_x), valid_y)
#    print([train_error,test_error] )

In [36]:
#from sklearn import cross_validation
#from sklearn.metrics import mean_absolute_error
#from xgboost import XGBRegressor
#
##dtrain = xgb.DMatrix(train_x, label=train_y)
##dtest = xgb.DMatrix(valid_x, label=valid_y)
##Creating a function to determin the best fit n_estimators.
#
#my_model = XGBRegressor()
#
#def xgbr(n_estimator,X_train,X_test,y_train,y_test):
#    my_model = XGBRegressor(n_estimators=n_estimator, learning_rate=0.08, gamma=0, 
#                            subsample=0.75,colsample_bytree=1, max_depth=7)
#    my_model.fit(X_train, y_train)
#    pred = my_model.predict(X_test)
#    return str(mean_absolute_error(pred, y_test))
#
#
#

In [37]:
#xgb.predict(valid_x)

In [38]:
# Build LightGBM Model

#train_data=lgb.Dataset(train_x,label=train_y)
#valid_data=lgb.Dataset(valid_x,label=valid_y)
#
#param_={
#'boosting_type': 'gbdt',
#'class_weight': None,
#'colsample_bytree': 0.733333,
#'learning_rate': 0.00764107,
#'max_depth': -1,
#'min_child_samples': 460,
#'min_child_weight': 0.001,
#'min_split_gain': 0.0,
#'n_estimators': 2673,
#'n_jobs': -1,
#'num_leaves': 77,
#'objective': None,
#'random_state': 42,
#'reg_alpha': 0.877551,
#'reg_lambda': 0.204082,
#'silent': True,
#'subsample': 0.949495,
#'subsample_for_bin': 240000,
#'subsample_freq': 1,
#'metric': 'l1' # aliase for mae 
#}
#
#
## Train model on selected parameters and number of iterations
#lgbm = lgb.train(param_,
#train_data,
#2500,
#valid_sets=valid_data,
#early_stopping_rounds= 40,
#verbose_eval= 10
#)

In [39]:
# predict data

#predictions_lgbm_prob =lgbm.predict(test)
#result=pd.DataFrame()
#result['Policy_Number']=df_test_1.Policy_Number[:-1]
#result['Next_Premium']=predictions_lgbm_prob

# combine next prenium by mean of same the policy

#test1=df_test.copy()
#result1=result.groupby(result['Policy_Number']).mean()
#test1 = test1.merge(result1[['Next_Premium']], on=['Policy_Number'])
#submit=test1[['Policy_Number','Next_Premium_y']]
#submit=submit.rename(index=str, columns={"Next_Premium_y": "Next_Premium"})
#submit.to_csv("submit1.csv",index=False)